.Todo {
  margin-top: 10px;
}

.text {
  padding: 8px;
  background-color: transparent;
  border-bottom: 1px solid mediumseagreen;
  outline: none;
}

.check {
  outline: none;
}

button {
  color: aliceblue;
  border: none;
}

.button2:hover {
  font-size: xx-large;
}

input {
  outline: none;
  border: none;
  font-size: large;
}
